*{
    margin : 0;
    padding : 0;
}
#navbar{
    height : 60px;
    background-color: #0f1111;
}
#logo{
    color : #f08804;
    font-size : 25px;
}
#search{
    background-color : #f08804;
    color : white;
}
a{
    text-decoration: none;
    color : white;
    margin-right : 200px;
}