*{
    margin : 0;
    padding : 0;
}
#navbar{
    height : 60px;
    background-color: #0f1111;
    position : fixed;
    width : 100%;
}
#logo{
    color : #f08804;
    font-size : 25px;
}
#search{
    background-color : #f08804;
    color : white;
}
a{
    text-decoration: none;
    color : white;
    margin-right : 200px;
}
.homepage{
    width : 100%;
    padding-top : 60px;
}
#content{
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
}
.container{
    width : 23%;
    height : 300px;
    background-color : #0f1111;
    color : white;
    text-align : center;
}
footer{
    background-color: #0f1111;
    color : white;
    text-align: center;
}